    </main>
    <script src="/updates.js?v=<%= staticAssetVersion %>"></script>
    <script src="/guestbook-notifications.js?v=<%= staticAssetVersion %>"></script>
    <script src="/rp-board.js?v=<%= staticAssetVersion %>"></script>
    <script src="/theme-switcher.js?v=<%= staticAssetVersion %>"></script>
    <% if (currentUser) { %>
      <script src="/staff-session-keepalive.js?v=<%= staticAssetVersion %>"></script>
    <% } %>
  </body>
</html>
